{% extends 'layouts/base.html' %}
{% block title %}Actualizar{% endblock title %}
{% block content %}
    <div class="ui container">
        <h1>Iniciar Sesion</h1>
        <form action="" method="POST" class="ui form">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <label for="">Nombre de Usuario</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="field">
                    <label for="">Contraseña</label>
                    <input type="password" name="password" id="password">
                </div>
            </div>
            <h3 style="color: red;">
                {{ mensaje }}
            </h3>
            <div>
                <button type="submit" class="ui inverted blue button">Log In</button>
            </div>
        </form>
    </div>
{% endblock content %}