{% extends 'layourts/base.html' %}
{% block title %}Listado-P{% endblock title %}
{% block content %}

    <h1 style="text-align: center;">Listado de productos</h1>

    <br><br>

        <div class="ui container center aligned">
            <table class="ui celled table">
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Color</th>
                    <th>Editar o eliminar</th>
                  </tr>
                </thead>
                <tbody>
                {% for a in productos %}
                  <tr>
                    <td><img src="{{ a.imagenes.url }}" alt="{{ a.nombre }}" style="width: 50px; height: auto;" ></td>
                    <td>{{ a.nombre }}</td>
                    <td>{{ a.descripcion }}</td>
                    <td>{{ a.stock }}</td>
                    <td>{{ a.precio }}</td>
                    <td>{{ a.color }}</td>
                    <td>
                        <a href="/producto/actualizar_producto/{{ a.id }}">
                            <i class="edit icon"></i>
                        </a>
                        <i onclick="borrar('{{ a.id }}','{{a.nombre}}')" class="trash icon"></i>
                        <script>
                            function borrar(id,nombre){
                                swal({
                                    title: `¿Estas seguro que deseas borrar el producto ${nombre} ?`,
                                    text: "Una vez eliminado no se podra recuperar",
                                    icon: "warning",
                                    buttons: true,
                                    dangerMode: true,
                                })
                                .then((willDelete) => {
                                    if (willDelete) {
                                        window.location.href = 'producto/borrar/' + id;
                                    } else {
                                        swal({
                                            icon:'error',
                                            text: `El Producto ${nombre} no se eliminara`
                                    });
                                    }
                                });
                            }
                        </script> 
                    </td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
        </div>
            <div class="center"></div>
            {% block scripts %}
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                    const customCards = document.querySelectorAll('.custom-card');
                
                    customCards.forEach(card => {
                        card.addEventListener('mousemove', e => {
                        const zoomBox = card.querySelector('.zoom-box');
                        const boundingBox = card.querySelector('.image').getBoundingClientRect();
                
                        const offsetX = e.clientX - boundingBox.left;
                        const offsetY = e.clientY - boundingBox.top;
                
                        const percentageX = (offsetX / boundingBox.width) * 100;
                        const percentageY = (offsetY / boundingBox.height) * 100;
                
                        zoomBox.style.backgroundPosition = `${percentageX}% ${percentageY}%`;
                        });
                    });
                    });
                </script>
                {% load static %}
                <script src="{% static 'js/sweetalert.min.js' %}"></script>           
            {% endblock scripts %}
{% endblock content %}
