{% extends 'layourts/base.html' %}
{% load static %}
{% block title %}Hell-Paradise{% endblock title %}
{% block content %}
    <div class="index">
        <div class="man">
            <img src="{% static 'assets/img/man.png' %}"height="auto"    alt="" />
        </div>
        <div class="woman" >
            <img src="{% static 'assets/img/woman.png' %}"height="auto"  alt="" />
        </div>
    </div>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%"  alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
            <div class="slide">
                <img src="{% static 'assets/img/carrucel1.png' %}" height="auto" width="100%" alt="" />
            </div>
        </div>
    </div>
{% endblock content %}
